
.h-1 {
  height: 10%;
}
.h-2 {
  height: 20%;
}
.h-3 {
  height: 30%;
}
.h-4 {
  height: 40%;
}
.h-5 {
  height: 50%;
}
.h-6 {
  height: 60%;
}
.h-7 {
  height: 70%;
}
.h-8 {
  height: 80%;
}
.h-9 {
  height: 90%;
}
